*{
  color:#FFFFFF;

  background:#007F00;
  color:#FFFFFF;
  font-family: "RobotoMono";
  font-size: 12px;

  margin: 0px 0px;
  padding: 0px 0px;

}

#clock{

  background:#000000;
  padding: 0px 4px;

}

#keyboard-state label.locked{

  background:#FF0000;
  color: #000000;
  padding: 0px 4px;

}
